.single-page {
  background: rgb(121, 181, 255);
  background: linear-gradient(24deg, rgba(121, 181, 255, 0.7) 0%, rgba(156, 212, 255, 0.7) 100%);
  animation: fadein 0.3s;
  position: absolute;
  overflow: hidden;
  top: 32px;
  left: 0;
  width: 100vw;
  height: calc(100% - 32px);
  transition: filter 300ms;
  .container {
    background-color: white;
    padding: 10px;
    margin: 20px;
    height: 92%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  &.blur {
    filter: blur(1px);
  }
  &.index {
    .profile-section {
      display: flex;
      border-bottom: 1px solid #8ec2f9;
      align-items: center;
      .img-block {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid black;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .profile-badge {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10px;
        small {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.7);
          margin-bottom: 7px;
        }
      }
    }
    .skill-stack-section {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span.title {
        line-height: 1;
        font-size: 16px;
        margin-top: 5px;
      }
      span.desc {
        line-height: 1;
        opacity: 0.6;
        font-size: 10px;
      }
      .skill-stack {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        height: 64px;
        .single-skill {
          display: inline-flex;
          flex-direction: column;
          margin: 5px 10px;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;
          span.skill-name {
            display: none;
            animation: fadein 500ms;
            font-size: 11px;
            height: initial;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
          }
          .svg {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            max-width: 30px;
            max-height: 30px;
            transition: all 200ms;
            &:hover {
              transform: scale(1.5);
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
            svg {
              width: 30px;
              height: 30px;
            }
          }
          .svg:hover ~ span.skill-name {
            display: flex;
          }
        }
      }
    }
    .bio-section {
      border: 1px solid black;
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      overflow: hidden;
      flex-direction: row;
      height: 200px;
      .header {
        display: flex;
        overflow: auto;
        background-color: white;
        box-shadow: 0 0 3px black;
        flex-wrap: wrap;
        flex-direction: column;
        width: 200px;
        .single-title {
          font-size: 10px;
          cursor: pointer;
          line-height: 1;
          padding: 5px;
          transition: all 100ms;
          text-align: left;
          white-space: nowrap;
          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
          }
          &:active {
            transform: translateY(0);
            box-shadow: none;
          }
          &.current {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            user-select: none;
            pointer-events: none;
          }
        }
      }
      .body-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        .body {
          animation: fadeup 100ms;
          line-height: 1.5;
          font-size: 11px;
          border-top: none;
          padding: 5px 10px;
          border-radius: 0 0 5px 5px;
          text-align: left;
          overflow: auto;
          .paragraph {
            padding: 10px 0;
            span.title {
              display: block;
              text-align: center;
              font-size: 14px;
              font-weight: bold;
            }
            span.body {
              font-size: 12px;
              line-height: 1.5;
              display: block;
            }
          }
        }
      }
    }
  }
  &.portfolio {
    .works-thumbs {
      display: flex;
      justify-content: center;
      .single-thumbnail {
        width: 80px;
        height: 80px;
        border: 1px solid #ccc;
        margin: 0 -10px;
        background-color: white;
        transition: all 100ms;
        cursor: pointer;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        font-size: 12px;
        &:hover {
          transform: translateY(-10px) scale(1.2);
          margin: 0 10px;
        }
        &:active {
          transition: all 500ms;
          transform: translateY(-300px);
        }
      }
    }
  }
  &.biography {
    background-color: red;
  }
}
